<!DOCTYPE html>
<html lang="{{app.request.locale}}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex">
        <meta name="robots" content="nofollow">
        <title>
            {% block title %} ArmorCMS - {{ 'title.admin_panel' | trans }} {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/assets/plugins/jquery/jquery.dataTables.min.css" />
            <link rel="stylesheet" href="/assets/fonts/lato/lato.css" />
            <link rel="stylesheet" href="/assets/fonts/fontawesome/font-awesome.css" />
            <link rel="stylesheet" href="/assets/css/admin/admin_main.css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="/favicon_admin.png" />
    </head>
    <body>
        {% if app.user %}
            {% include 'header.html.twig' %}
            {% include 'aside.html.twig' %}
        {% endif %}
        
        <div class="main-container">
            {% include 'flashmsg.html.twig' %}
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <script type="text/javascript" src="/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="/assets/plugins/jquery/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="/assets/js/admin/main.js"></script>
            <script type="text/javascript" src="/assets/js/admin/menu.js"></script>
        {% endblock %}
    </body>
</html>
